@import url("https://fonts.googleapis.com/css?family=Sen:regular,700,800");
* {
  padding: 0;
  margin: 0;
  font-family: "Sen", sans-serif;
  font-size: 16px;
}

.announcement {
  background-color: #222;
}
.announcement li {
  color: #f9f9f9;
  font-size: 18px;
  list-style: none;
  display: inline-block;
}
.announcement a {
  text-decoration: none;
  color: #f9f9f9;
  border: solid transparent;
  background-color: #0077b6;
  padding: 5px 20px 5px 20px;
  border-radius: 20px;
}
.announcement .row {
  padding-top: 25px;
  padding-bottom: 10px;
}

.navbar {
  background-color: #0077b6;
  padding: 10px 0 10px 0;
}
.navbar ul {
  padding-top: 15px;
  float: right;
}
.navbar li {
  display: inline-block;
  padding-right: 50px;
}
.navbar a {
  text-decoration: none;
  color: #f9f9f9;
}
.navbar .shopping-cart-btn {
  background-color: #222;
  padding: 6px 15px 6px 15px;
  border-radius: 5px;
}

.hero {
  background-size: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url("../img/background-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  font-size: 18px;
  height: 550px;
  color: #f9f9f9;
}
.hero p {
  font-size: 18px;
  padding-bottom: 10px;
}
.hero h1 {
  font-size: 62px;
  font-weight: bold;
  padding-top: 150px;
}
.hero a {
  text-decoration: none;
  color: #f9f9f9;
  font-weight: bold;
  border: solid 1px white;
  padding: 7px 25px 7px 25px;
  border-radius: 5px;
}
.hero a:hover {
  color: #222;
  background-color: #f9f9f9;
  transition: 0.3s ease;
}

.support {
  padding-top: 50px;
}
.support span {
  text-transform: uppercase;
}
.support h1 {
  font-weight: bold;
}
.support .product-heading {
  color: #f9f9f9;
  padding-top: 165px;
  padding-bottom: 165px;
}
.support .product-wrapper {
  background-color: #222;
  text-align: center;
  border-radius: 5px;
}
.support .product-heading-numbers {
  color: #f9f9f9;
  float: left;
}