.navbar {
    background-color: $blue;
    padding: 10px 0 10px 0;
    ul {
        padding-top: 15px;
        float: right;
    
        li {
            display: inline-block;
            padding-right: 40px;
        }
        a {
            text-decoration: none;
            color: $white;
            border: 1px solid transparent;
            padding: 5px 10px 5px 10px;
            transition: 0.3s ease;
         &:hover {
             background-color: $dark;
             border: 1px solid $dark;
             border-radius: 5px;
             transition: 0.3s ease;
         }
        }
        .shopping-cart-btn {
            background-color: $dark;
            padding: 6px 15px 6px 15px;
            border-radius: 5px;
        }
    }
}